# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Development
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Source files
src/
*.ts
*.tsx
*.js
*.jsx
!dist/**/*.js
!dist/**/*.js.map 